# The Tezos Baker service (part of systemd)
# file: /etc/systemd/system/tezos-baker.service 

[Unit]
Description     = Tezos Baker Service
Wants           = network-online.target 
BindsTo		    = tezos-node.service
After           = tezos-node.service

[Service]
User            = tezos
Group		    = tezos
WorkingDirectory= /home/tezos/
ExecStartPre	= /bin/sleep 1
ExecStart       = /home/tezos/tezos/tezos-baker-002-PsYLVpVv run with local node /home/tezos/.tezos-node ledger_bakerone_ed_0_0
Restart         = on-failure

[Install]
WantedBy	= multi-user.target