# The Tezos Endorser service (part of systemd)
# file: /etc/systemd/system/tezos-endorser.service 

[Unit]
Description     = Tezos Endorser Service
Wants           = network-online.target 
BindsTo		    = tezos-node.service
After           = tezos-node.service

[Service]
User            = tezos
Group		    = tezos
WorkingDirectory= /home/tezos/
ExecStartPre	= /bin/sleep 1
ExecStart       = /home/tezos/tezos/tezos-endorser-002-PsYLVpVv run ledger_bakerone_ed_0_0
Restart         = on-failure

[Install]
WantedBy	= multi-user.target